* {
    font-family: 'Merriweather', 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.container {
    max-width: 1320px;
    margin: auto;
}

button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: #fff;
}

.banner,
.discount,
.welcome,
.date_time,
.offer_containerF,
.offer,
.holidays,
.portfolio,
.subscription{
    margin-top: 100px;
}

/* banner */
.banner_container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../img/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.banner_container h3 {
    font-size: 32px;
    font-weight: 400;
}

.banner_container h2 {
    margin-top: 5px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* discount section */
.discount_container {
    text-align: center;
}

.discount_container h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount_container h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0 16px 0;
}

.discount_container h2 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount_container img {
    margin-top: 48px;
}

/* welcome section */
.welcome_container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../img/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    column-gap: 40px;
}

.welcom_left_container {
    width: 50%;

}

.welcom_left_container h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcom_left_container p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 48px 0;
}

/* date and time */
.date_time_container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.date_time_container span {
    color: #F00;
}

.date_time_container h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.date_time_container button {
    margin-top: 48px;
}

/* offer section */
.offer_container {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}

.offer_1 {
    align-self: center;
}

.offer_1 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer_1 h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;

}

.offer_1,
.offer_3 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer_2 {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 50px;
}

.offer_3 {
    align-self: self-end;
    width: 100%;
}

.offer_3 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer_3 p {
    margin: 16px 0 44px 0;
}

.offer_3 img {

    width: 140px;
    height: 140px;
}

/* holiday section */
.holidays {
    position: relative;
}

.holidays_header {
    text-align: center;
    width: 70%;
    margin: auto;
}

.holidays_header h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holidays_header h2 {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0;
}

.holidays_header span {
    color: #070211;
}

.holidays_header p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holidays_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 64px;
}

.holiday_img_1 {
    position: relative;
    width: 50%;
    text-align: end;
}

.holiday_img_1 img {
    position: absolute;
    left: 0;
    bottom: -350px;
    z-index: 10;
    width: 100%;
    padding-left: 20px;
}

.holiday_img_2 {
    position: relative;
    align-self: self-end;

}

.discount_img {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin-left: -200px;

}

.holiday_bg {
    background-color: #F00;
    height: 230px;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    z-index: 5;

}

/* portfolio */
.portfolio {
    margin-top: 300px;
}

.portfolio_header h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio_header h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 22px 0;
}

.portfolio_header p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 48px;
}

.portfolio_container img {
    transition: 3s;
    width: 100%;
}

.portfolio_container img:hover {
    transform: rotate(360deg);
}

/* subscription */
.subscription_container {
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscription_container h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0 20px 0;
}

.subscription_container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    margin: auto;
    /* 160% */
}
.subscription_email_container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 48px;
    
}
.subscription_email_container input{
    padding: 15px 80px 15px 15px;
   border: none;
   background-color: #fff;
   outline: none;
   border-radius: 50px 0 0 50px;
}
.submit_btn{
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 12px 30px;
}
/* footer */
.footer{
    height: 609px;
    background: #070211;
    color: #fff;
    padding: 120px 0;
}
.footer_address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call_info, .web_info{
    display: flex;
    margin-top: 10px;
    justify-content: start;
}

.call_info img ,.web_info img{
    padding-right: 10px;
}
hr{
    border: 0.5px solid rgb(41, 41, 41);
    margin: 48px 0;
}
.social_icon{
    text-align: center;
}
.copyright_text{
    display: flex;
    justify-content: space-between;
}